div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/a-book-a-week-image.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid1 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1
{
}
#LayoutGrid1 .col-1
{
   float: left;
}
#LayoutGrid1 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-color: rgba(0,0,0,0.59);
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 .row .col-1, #LayoutGrid2 .row .col-2, #LayoutGrid2 .row .col-3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2
{
}
#LayoutGrid2 .row .col-1, #LayoutGrid2 .row .col-2, #LayoutGrid2 .row .col-3
{
   float: left;
}
#LayoutGrid2 .row .col-1
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid2 .row .col-2
{
   background-color: transparent;
   background-image: none;
   width: 66.66666667%;
   text-align: center;
}
#LayoutGrid2 .row .col-3
{
   background-color: transparent;
   background-image: none;
   width: 16.66666667%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 .row .col-1, #LayoutGrid2 .row .col-2, #LayoutGrid2 .row .col-3
{
   float: none;
   width: 100%;
}
}
#Line2
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Line1
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#Editbox1
{
   border: 1px #CCCCCC groove;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #FFFFFF;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,255,255,0.60);
   outline: 0;
}
#Line3
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#Line4
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#Line5
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3
{
}
#LayoutGrid3 .col-1
{
   float: left;
}
#LayoutGrid3 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: left;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #8B4513;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid4
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid4 .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid4
{
}
#LayoutGrid4 .col-1
{
   float: left;
}
#LayoutGrid4 .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Line6
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#Line7
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
   filter: alpha(opacity=0);
   opacity: 0.00;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #800000;
   background-color: rgba(128,0,0,0.39);
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#LayoutGrid5
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid5 .row .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid5
{
}
#LayoutGrid5 .row .col-1
{
   float: left;
}
#LayoutGrid5 .row .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 .row .col-1
{
   float: none;
   width: 100%;
}
}
#Button2
{
   border: 0px #FFFFFF solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Line6
{
   display: block;
   width: 100%;
   height: 12px;
   z-index: 17;
}
#Editbox1
{
   display: block;
   width: 100%;
   height: 30px;
   line-height: 30px;
   z-index: 4;
}
#Line7
{
   display: block;
   width: 100%;
   height: 12px;
   z-index: 19;
}
#Line1
{
   display: block;
   width: 100%;
   height: 96px;
   z-index: 7;
}
#Line2
{
   display: block;
   width: 100%;
   height: 23px;
   z-index: 3;
}
#Button2
{
   display: inline-block;
   width: 96px;
   height: 25px;
   z-index: 6;
}
#Line3
{
   display: block;
   width: 100%;
   height: 6px;
   z-index: 0;
}
#Line4
{
   display: block;
   width: 100%;
   height: 104px;
   z-index: 1;
}
#Line5
{
   display: block;
   width: 100%;
   height: 15px;
   z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 969px)
{
div#container
{
   width: 768px;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: url(images/a-book-a-week-image.jpg);
   background-repeat: repeat;
   background-position: center center !important;
   background-attachment: scroll;
   background-size: cover;
}
#LayoutGrid1 .col-1
{
   text-align: left;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   background-color: #000000;
   background-color: rgba(0,0,0,0.59);
   background-image: none;
}
#LayoutGrid2 .row .col-1
{
   text-align: center;
}
#LayoutGrid2 .row .col-2
{
   text-align: center;
}
#LayoutGrid2 .row .col-3
{
   text-align: left;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Editbox1
{
   visibility: visible;
   display: block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid3 .col-1
{
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   background-color: #8B4513;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Line6
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line7
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   background-color: #800000;
   background-color: rgba(128,0,0,0.39);
   background-image: none;
}
#LayoutGrid5 .row .col-1
{
   text-align: left;
}
#Button2
{
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
div#container
{
   width: 480px;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: url(images/a-book-a-week-image.jpg);
   background-repeat: repeat;
   background-position: center center !important;
   background-attachment: scroll;
   background-size: cover;
}
#LayoutGrid1 .col-1
{
   text-align: left;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   background-color: #000000;
   background-color: rgba(0,0,0,0.59);
   background-image: none;
}
#LayoutGrid2 .row .col-1
{
   text-align: center;
}
#LayoutGrid2 .row .col-2
{
   text-align: center;
}
#LayoutGrid2 .row .col-3
{
   text-align: left;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Editbox1
{
   visibility: visible;
   display: block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid3 .col-1
{
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   background-color: #8B4513;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Line6
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line7
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   background-color: #800000;
   background-color: rgba(128,0,0,0.39);
   background-image: none;
}
#LayoutGrid5 .row .col-1
{
   text-align: left;
}
#Button2
{
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
}
@media only screen and (max-width: 479px)
{
div#container
{
   width: 320px;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: url(images/a-book-a-week-image.jpg);
   background-repeat: repeat;
   background-position: center center !important;
   background-attachment: scroll;
   background-size: cover;
}
#LayoutGrid1 .col-1
{
   text-align: left;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   background-color: #000000;
   background-color: rgba(0,0,0,0.59);
   background-image: none;
}
#LayoutGrid2 .row .col-1
{
   text-align: center;
}
#LayoutGrid2 .row .col-2
{
   text-align: center;
}
#LayoutGrid2 .row .col-3
{
   text-align: left;
}
#Line2
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_Text1
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Line1
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Editbox1
{
   visibility: visible;
   display: block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#Line3
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line4
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line5
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#LayoutGrid3 .col-1
{
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   background-color: #8B4513;
   background-image: none;
}
#LayoutGrid4 .col-1
{
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#Line6
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#Line7
{
   visibility: visible;
   display: block;
   color: #A0A0A0;
   background-color: #A0A0A0;
   background-image: none;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   background-color: #800000;
   background-color: rgba(128,0,0,0.39);
   background-image: none;
}
#LayoutGrid5 .row .col-1
{
   text-align: left;
}
#Button2
{
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
}
